.displayColor {
  display: flex;
  align-self: center;
  width: 800px;
  height: 600px;
  border-radius: 10px;
}
  
.answerButtons {
  display: flex;
  margin-top: 1rem;
  margin-bottom: 1rem;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
  
.incorrectFeedback {
  color: red;
  font-size: 1.5rem;
}
  
.correctFeedback {
  color: green;
  font-size: 1.5rem;
}

.optionsButtons {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  max-width: 500px;
}
